body {
  background-color: gold
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.balance{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
.balance h5{
  display: flex;
  justify-content: space-between;
}

/*Header*/
.navbar {
  height: 150px;
  background-color: aquamarine;
}
.navbar-brand {
  font-size: 50px;
}
.navbar-link a {
  font-size: 60px;
}

/*Balance Carta*/
.card-balance-carta {
  width: 500px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  height: 500px;
}
/*Filtros Carta*/
.col-filtros-carta {
  width: 500px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  left: 15px;
  top: -280px;
  height: 500px;
}
.form {
  flex-direction: column;
}

.filtros{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-btn-ocultar-filtros{
  display: flex;
  justify-content: space-between;
}

.operaciones{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

/*Main Balance*/
.card-balance-main {
  width: 1000px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  height: 800px;
}


/*REPORTES STYLES*/

.card{
  width: 889px;
  height: 652px;
  border-radius: 6px;
 color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.card-title{
  font-size: 40px;
}
h4{
  font-size: 24px;
  text-align: center;
}
.card-text{
  font-size: 16px;
  text-align: center;
}
.imagen-reportes{
  margin: 50px;
  height: 350px;
  align-content: center;
}